<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/layout/defaultLayout}">
<head>
    <th:block layout:fragment="title">
        <title>NomardLog | 내정보수정</title>
    </th:block>
</head>


<!--<body>
<th:block layout:fragment="content">
    <div class="page-wrap memberupdate">
        <div class="container">
            <div class="main-title-area">
                <h2 class="main-title">내정보수정</h2>
                <p class="sub-title">개인정보를 업데이트 하세요.</p>
            </div>
&lt;!&ndash; Thymeleaf에서는 th:action을 사용하여 form의 action을 설정합니다. &ndash;&gt;
<form th:action="@{/member/update}" method="post" th:object="${info}" name="updateForm"> &lt;!&ndash; updateForm은 form태그 이름임 &ndash;&gt;
    &lt;!&ndash; name은 서버로 데이터를 전송 및 서버에서 해당 데이터를 처리하는 데 사용, id 속성은 문서 내에서 고유한 식별자를 나타냄 &ndash;&gt;
    id: <input type="text" th:field="*{info.memberId}" readonly="readonly"> &lt;!&ndash; readonly는  &ndash;&gt;
    email: <input type="text" th:field="*{info.memberEmail}" >
    password: <input type="text" id="memberPassword"> &lt;!&ndash; th:field="*{memberPassword}"  &ndash;&gt;
    name: <input type="text" th:field="*{info.memberName}" readonly="readonly">
    age: <input type="text" th:field="*{info.memberAge}">
    <input type="button" value="수정" onclick="update()"> &lt;!&ndash; 값을 입력하고 함수 등 호출하기 위해 button 사용 &ndash;&gt;
    &lt;!&ndash; onclick="update()"으로 아래 update() 메서드 실행 &ndash;&gt;
</form>
        </div>
        </div>
</th:block>
</body>

<script th:inline="javascript">
    const update = () => {
        const passwordDB = /*[[${info.memberPassword}]]*/ '';
        const password = document.getElementById("memberPassword").value;
        if (passwordDB == password) {
            document.updateForm.submit();
        } else {
            alert("비밀번호가 일치하지 않습니다!");
        }
    }
</script>

</html>-->


<body>
<th:block layout:fragment="content">
    <div class="page-wrap memberupdate">
        <div class="container">
            <div class="main-title-area">
                <h2 class="main-title">내정보수정</h2>
                <p class="sub-title">개인정보를 업데이트 하세요.</p>
            </div>

            <form th:action="@{/member/update}" method="post" th:object="${info}" name="updateForm"/>
            <ul>
                <li class="mb-3">
                    id: <input type="text" th:field="*{info.memberId}" readonly="readonly"/>
                </li>
                <li class="mb-3">
                    email: <input type="text" th:field="*{info.memberEmail}" />
                </li>
                <li class="mb-3">
                    password: <input type="password" id="memberPassword"/>
                </li>
                <li class="mb-3">
                    name: <input type="text" th:field="*{info.memberName}" readonly="readonly"/>
                </li>
                <li class="mb-3">
                    age: <input type="text" th:field="*{info.memberAge}"/>
                </li>
            </ul>

            <div class="d-grid gap-2 mt-5">
                <input type="submit" value="수정완료" /> <!--onclick="update()"-->
            </div>
            </form>
        </div>
    </div>
</th:block>

<!--<th:block layout:fragment="script">
    <script th:inline="javascript">
        const update = () => {
         const passwordDB = /*[[${info.memberPassword}]]*/ '';
         const password = document.getElementById("info.memberPassword").value;
         if (passwordDB == password) {
             document.updateForm.submit();
         } else {
             alert("비밀번호가 일치하지 않습니다!");
         }
     }
    </script>
</th:block>-->
</body>

</html>
