<!DOCTYPE html>
<!--라이브러리 참조 : Thymeleaf & Thymeleaf Layout -->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!--공통 JS / CSS 영역을 관리하는 환경 영역-->
<head th:replace="common/fragments/config :: config">
    <title layout:title-pattern="$LAYOUT_TITLE : $CONTENT_TITLE">공통 타이틀</title>
</head>

<body>
<!--Header 영역을 참조합니다.-->
<header th:replace="common/fragments/header :: header"></header>

<!--Content 내용 영역을 참조합니다-->
<th:block layout:fragment="content"></th:block>

<!--Footer 영역을 참조합니다.-->
<footer th:replace="common/fragments/footer :: footer"></footer>
</body>
</html>